@import "custom";

header {
    position: relative;
}

h1 {
    position: absolute;
    margin: auto;
    top: 2rem;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.5rem;
    text-shadow: 3px 3px 4px black;
}

.neo-object {
    cursor: pointer;
}

.tooltip-div {

    border: 3px solid white;
    border-radius: 5px;
    background: black;

    .tooltip-div-close {
        position: absolute;
        top: 3px;
        right: 3px;
    }
}